{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">
    
    </div><!--/span-->
    <div class="span5 offset3">

      <h1>Blog.</h1>
      <h3>Sorry, nothing here yet.</h3>
      <p class="lead">

        skien.cc (pronounced skīəns) is the personal website of Erik Taubeneck. I am a mathematician/economist/statistician by schooling, a data scientist 
        by trade, and a python hacker by night. The <a href="{{ url_for('fractal_game') }}"> fractal game </a> is my
        very first project for skien.cc, so don't be surprised when you don't find much here. 
        I fully intend to build more small projects like this up here, and write blog posts . In fact, I intend 
        to write a fairly detailed blog post about how I build this little project. But, for now, you can <a href="https://github.com/eriktaubeneck">
        fork me on github</a> and check out the code for this project.
      </p>
        

    </div><!--/span-->
  </div><!--/row-->
{% endblock %}