{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">
    
    </div><!--/span-->
    <div class="span11">
      <h2>
        {% if answer %}
        {% if correct %}
         Correct!
        {% else %}
         Nope!
        {% endif %}
        {{ symbol }} 
        {% else %}
        Random
        {% endif %}
        Stock Price over 50 
        {% if answer %}
        {{ answer }}
        {% else %}
        days, weeks, or months 
        {% endif %}
      </h2>
      <h3>
        You're running score is {{ session['guesses_correct'] }} out of {{ session['guesses'] }} attempts.
      </h3>
      <div id="d3_plot" class="plot_body"></div>
      <br>
      {% if not answer %}
      
      <form class="form-signin" action="{{ url_for('answer',
                                                    symbol=symbol,
                                                    series_spacing=series_spacing,
                                                    start_date=start_date) }}" 
      method=post enctype=multipart/form-data>
        Guess the Time Interval:
          <select name='answer'>
            <option value = '1'>50 Days</option>
            <option value = '5'>50 Weeks</options>
            <option value = '20'>50 Months</options>
          </select>
          <button class='btn btn-large-primary' type='submit' name='btn' value='guess'>Guess</button>
      {% else %}
      <form method='link' action="{{ url_for('fractal_game') }}">
        <button class='btn btn-large-primary' type='submit'>Try Again</button>
      {% endif %}
    </div><!--/span-->
  </div><!--/row-->
{% endblock %}

{% block plot %}
<script src="http://d3js.org/d3.v3.js"></script>
<script>

var margin = {top: 20, right: 30, bottom: 30, left: 100},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y-%m-%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

{% if answer %}
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
{% endif %}

var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.high); });

var svg = d3.select("#d3_plot").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  d3.json("{{ url_for('get_data') }}" + "?symbol={{ symbol }}&start_date={{ start_date }}&series_spacing={{ series_spacing }}", 
    function(error, data) {
    data.forEach(function(d) {
      d.date = parseDate(d.date);
      d.high = +d.high;
    });

    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain(d3.extent(data, function(d) { return d.high; }));

{% if answer %}    
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("$");
{% endif %}

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

      
  });
</script>
{% endblock %}